---
layout: default
---

{{pager pagination modifier="pager-justified"}}

<div class="post">
  <h1 class="post-title">{{ title }}</h1>
  <span class="post-date">{{date_to_string page.date}}</span>

  {{> tweet-button }}

{{#markdown}}
  {% body %}
{{/markdown}}
</div>


<div class="posts">
  <h2>Categories</h2>
  <ul class="posts-categories">
    {{#each sidenav}}
      {{> sidenav this }}
    {{/each}}
  </ul>

  <h2>Related Posts</h2>
  <ul class="posts-related">
    {{#related_posts}}
      <li>
        <h3>
          <a href="{{ this.url }}">
            {{ this.title }}
            <small>{{date_to_string this.date}}</small>
          </a>
        </h3>
      </li>
{{/related_posts}}
  </ul>
</div>
