<li>
{{!_log .}}

  <a href="#{{@root.dest.base}}{{permalink}}">{{@key}}</a>
  <ul class="nav">
    {{#each tags}}
    <li><a href="#{{@root.dest.base}}{{permalink}}">{{@key}}</a></li>
    {{/each}}
  </ul>
</li>
